<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.smartschoolmanagement">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera2" android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.apps.smartschoolmanagement.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.apps.smartschoolmanagement.permission.C2D_MESSAGE" />

    <application
        android:name="com.apps.smartschoolmanagement.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        tools:overrideLibrary="com.google.firebase.messaging"
        tools:replace="android:theme,android:appComponentFactory">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.apps.smartschoolmanagement.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvCaVONDnl02FIDPKdEjoYR7N1fgoNnMI" />

        <activity
            android:name="com.apps.smartschoolmanagement.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apps.smartschoolmanagement.activities.NetworkDialogActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.HomeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.apps.smartschoolmanagement.activities.AssignmentsActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.ManageLeavesActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.ExamScheduleActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.FeeDetailsActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.MyHealthStatusActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.HealthStatusActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.MarksActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.LibraryActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.OnlineMaterialActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name="com.apps.smartschoolmanagement.activities.PhotoGalleryActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.PrincipalMessageActivity"
            android:theme="@style/Theme.Transparent1" />
        <activity android:name="com.apps.smartschoolmanagement.activities.RemarksActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.BusTrackingActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.BusesListActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StudentAttendanceActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.AttendanceActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StudentLeavesActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StaffAttendanceActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.PostRemarkActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StaffProfileActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StudentProfileActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.AssignmentsTeacherActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.StaffPayRollActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.ProfitLossActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.PostMaterialActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name="com.apps.smartschoolmanagement.activities.CheckAllAssignmentsActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.PhotoAlbumActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.AddPhotoGalleryActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.LeaveApplyActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.ProfileEditActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.apps.smartschoolmanagement.activities.PendingLeaves_HM_Activity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.PreviewActivity" />
        <activity android:name="com.apps.smartschoolmanagement.activities.MarksListActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.PhotoGalleryAddActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.Login_GooglePlus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.WebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.ProfileViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.AssignmentStatusActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.AppointmentsActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name="com.apps.smartschoolmanagement.activities.AppointmentsAdminActivity" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.PrincipalStatementActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.ViewPagerActivity"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.ForgotPasswordActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.apps.smartschoolmanagement.activities.ResetPasswordActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name="com.apps.smartschoolmanagement.firebase.MyFirebaseMessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.perusudroid.networkchecker.broadcast.NoInternetActivity" />
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <activity android:name="com.nileshp.multiphotopicker.photopicker.activity.PickImageActivity" />

        <activity
            android:name="com.apps.smartschoolmanagement.permissions.PermissionsActivity"
            android:theme="@style/Permissions.TransparentTheme" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.apps.smartschoolmanagement" />
            </intent-filter>
        </receiver>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.apps.smartschoolmanagement.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>