<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.smartschoolmanagement">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.apps.smartschoolmanagement.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.apps.smartschoolmanagement.permission.C2D_MESSAGE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:overrideLibrary="com.google.firebase.messaging"
        tools:replace="android:theme,android:appComponentFactory">
        <activity android:name=".activities.SendNotificationActivity"></activity>
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.ScheduleActivity" />
        <activity android:name=".activities.StudentMarkList" />
        <activity android:name=".activities.ComplaintActivity" />
        <activity android:name=".activities.PostComplaintActivity" />
        <activity android:name=".activities.EventListActivity" />
        <activity
            android:name=".activities.HolidayListActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.PhotoGalleryAddCatActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.apps.smartschoolmanagement.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvCaVONDnl02FIDPKdEjoYR7N1fgoNnMI" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NetworkDialogActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.HomeActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.AssignmentsActivity" />
        <activity android:name=".activities.ManageLeavesActivity" />
        <activity android:name=".activities.ExamScheduleActivity" />
        <activity android:name=".activities.FeeDetailsActivity" />
        <activity android:name=".activities.MyHealthStatusActivity" />
        <activity android:name=".activities.HealthStatusActivity" />
        <activity android:name=".activities.MarksActivity" />
        <activity android:name=".activities.LibraryActivity" />
        <activity
            android:name=".activities.OnlineMaterialActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name=".activities.PhotoGalleryActivity" />
        <activity
            android:name=".activities.PrincipalMessageActivity"
            android:theme="@style/Theme.Transparent1" />
        <activity android:name=".activities.RemarksActivity" />
        <activity android:name=".activities.BusTrackingActivity" />
        <activity android:name=".activities.BusesListActivity" />
        <activity android:name=".activities.StudentAttendanceActivity" />
        <activity android:name=".activities.AttendanceActivity" />
        <activity android:name=".activities.StudentLeavesActivity" />
        <activity android:name=".activities.StaffAttendanceActivity" />
        <activity android:name=".activities.PostRemarkActivity" />
        <activity android:name=".activities.StaffProfileActivity" />
        <activity android:name=".activities.StudentProfileActivity" />
        <activity android:name=".activities.AssignmentsTeacherActivity" />
        <activity android:name=".activities.StaffPayRollActivity" />
        <activity android:name=".activities.ProfitLossActivity" />
        <activity
            android:name=".activities.PostMaterialActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name=".activities.CheckAllAssignmentsActivity" />
        <activity android:name=".activities.PhotoAlbumActivity" />
        <activity android:name=".activities.AddPhotoGalleryActivity" />
        <activity android:name=".activities.LeaveApplyActivity" />
        <activity
            android:name=".activities.ProfileEditActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.PendingLeaves_HM_Activity" />
        <activity android:name=".activities.PreviewActivity" />
        <activity android:name=".activities.MarksListActivity" />
        <activity
            android:name=".activities.PhotoGalleryAddActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.Login_GooglePlus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WebViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfileViewActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AssignmentStatusActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AppointmentsActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity android:name=".activities.AppointmentsAdminActivity" />
        <activity
            android:name=".activities.PrincipalStatementActivity"
            android:theme="@style/Theme.Transparent2" />
        <activity
            android:name=".activities.ViewPagerActivity"
            android:theme="@style/AppTheme.Transparent.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:theme="@style/Theme.Transparent2"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- <service android:name=".firebase.MyFirebaseMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service -->
        <!-- android:name="com.google.firebase.messaging.FirebaseMessagingService" -->
        <!-- android:exported="true" -->
        <!-- tools:replace="android:exported"> -->
        <!-- <intent-filter android:priority="-500"> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.perusudroid.networkchecker.broadcast.NoInternetActivity" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0" />

        <activity android:name="com.nileshp.multiphotopicker.photopicker.activity.PickImageActivity" />
        <activity
            android:name=".permissions.PermissionsActivity"
            android:theme="@style/Permissions.TransparentTheme" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.apps.smartschoolmanagement" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.apps.smartschoolmanagement.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="android.arch.lifecycle.VERSION"
            android:value="27.0.0-SNAPSHOT" />
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>